<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="testBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="targetSource" ref="testThreadLocalTargetSource" />
	</bean>
	<bean id="testBeanUtil" class="localthread.TestBeanUtil">
		<property name="testBean" ref="testBean" />
	</bean>
	<bean id="testThreadLocalTargetSource" class="org.springframework.aop.target.ThreadLocalTargetSource"
		destroy-method="destroy">
		<property name="targetBeanName" value="testTarget" />
	</bean>
	<bean id="testTarget" class="localthread.TestBeanImpl" scope="prototype">
		<property name="myValue" value="boe!" />
	</bean>
</beans>